{% extends "base.html" %}
{% block title %} Category - {{ cat }} {% endblock title %}
{% block head %} <h1 class="it-header"> All {{ cat }} Products </h1> {% endblock head %}

{% block content %}
{% for item in category_items %}
    <div class="item-container">
        <article class="item-polaroid">
            <a target="_blank" href="{{ item.image.url }}">
                <img src="{{ item.image.url }}" alt="{{ item.title }}" >
            </a>
            <div class="item-info">
                <p class="item-name"> {{ item.title }} <i class="fas fa-soap"></i></p>
                <small class="item-keywords"> {{ item.category.keywords }} </small>
                <p class="item-owner">

                    <a href="{% url 'profile' %}"> <i class="fas fa-portrait"></i> Owner: {{ item.owner }} </a>
                </p>
               <div class="item-detail-btn">
                    {% if user.is_authenticated %}
                        <a class="detail-btn" href="{% url 'item-detail' item.id %}"> View Details </a>
                    {% else %}
                        <a class="detail-btn"  href="{% url 'login' %}?next={{request.path}}"> View Details </a>
                   {% endif %}
               </div>
            </div>
        </article>
    </div>
{% endfor %}

    {% if page_obj.paginator.num_pages > 1 %}
        {% include '_pagination.html' with page_obj=page_obj %}
    {% endif %}

{% endblock %}

