{% load static %}

  {% if user.is_authenticated %}
  <form method="POST">
	{% csrf_token %}
	<fieldset class="comment-field">
	  {{ comment_form.as_p }}
	</fieldset>

  <button class="submitButton" name="new_comment" type="submit">Add comment <i class="fas fa-comments"></i></button>

  </form>

  {% else %}
  <a class="btn btn-info" href="{% url 'login' %}">Log in to add a comment!</a><br>
  {% endif %}


