{% load static %}



        <h3>Leave a comment</h3>
    {% include 'items/comment_form.html' %}
    <hr><br>
<strong style="float: right">{{ object.number_of_comments }} Comment{{ object.number_of_comments|pluralize }}</strong>
<br>
    <br>

    {% for comment in comments %}
    <div class="comments" style="padding: 20px;">
        <p class="font-weight-bold">
           <i class="fas fa-portrait"></i> {{ comment.user }}
            <span class=" text-muted font-weight-normal">

            </span>
            <span class="comment-date">
              {{ comment.created_on }}
            </span>
        </p>
        <i class="far fa-comment"></i>  {{ comment.subject }}
        {{ comment.comment | safe}}
    </div>
    {% endfor %}

