{% extends 'base.html' %}
{% load static %}

{% block title %} Store Home {% endblock title %}
{% block message %}
{% if user.is_authenticated %}
{% if message %}
<div class="notif"><p class="notif">{{message}}<a href="{% url 'delete-notif' message.id %}"><button class ="forwardbtn">ok</button></a></p></div>

{% endif %}
    {% endif %}
{% endblock message %}
{% block head %} <h1 class="home-header"> Welcome to Our Django Web Store </h1>   {% endblock head %}
{% block content %}
  <div class="home-img-container">
    <div class="home-img-polaroid">
    <img src="{% static 'images/collection.jpg' %} " alt="Our Collection">
    </div>
  </div>
{% endblock content %}
