{% extends "base.html" %}
{% block title %} Our Products {% endblock title %}

{% block head %} <h1 class="it-header"> Our Products </h1> {% endblock head %}

{% block content %}
<div class="all-items">
{% for item in items %}

<div class="item-container">
    <article class="item-polaroid">
        <a href="{{ item.image.url }}" target="_blank">
            <img alt="{{ item.title }}" src="{{ item.image.url }}">
        </a>
        <div class="item-info">
            <p class="item-name"> {{ item.title }} <i class="fas fa-soap"></i></p>
            <small class="item-keywords"> {{ item.category.keywords }} </small>
            <p class="item-owner">
                <a href="{% url 'user-items' item.owner.username %}">
                    <i class="fas fa-portrait"></i> Owner: {{ item.owner }}
                </a>
            </p>
            <div class="item-detail-btn">
                {% if user.is_authenticated %}
                <a class="detail-btn" href="{% url 'item-detail' item.id %}"> View Details </a>
                {% else %}
                <a class="detail-btn" href="{% url 'login' %}?next={{request.path}}"> View Details </a>
                {% endif %}


            </div>
        </div>
    </article>
</div>
{% endfor %}
</div>
{% if page_obj.paginator.num_pages > 1 %}
{% include '_pagination.html' with page_obj=page_obj %}
{% endif %}

{% endblock %}

{% block nav %}
{% include 'nav.html' %}
{% endblock nav %}

<!--
Anon:
    filter by owner, category, popularity
    title, owner, keyword_list
    button to go to detail page -> redirect login  item-delete, item-update, user-items

Reg: ^
    go to detail
    add, update, delete their own item
    rate and comment
    chat
  -->


<!--Pagination -->

