{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <div class="delete-item"
        <form method="POST" >
            {% csrf_token %}
            <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Delete Item </legend>
                <h2> Are you sure you want to delete the item "{{ object.title }}"</h2>
            </fieldset>
            <div class="form-group-delete">
                <button class="btn btn-danger" type="submit"> Yes, Delete </button><br>
                <a class="btn btn-outline-secondary" href="{% url 'item-detail' object.id %}"> Cancel </a>
            </div>
        </form>
        </div>
    </div>
{% endblock content %}