{% extends 'base.html' %}
{% block title %} Edit Item {% endblock title %}
{% load static %}
{% block content %}
<h1> Edit Item Details </h1>
<br>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="item-detail-btn"> Save </button>
</form>
{% endblock content %}