{% extends 'base.html' %}
{% block title %} New Item {% endblock title %}
{% load static %}
{% block content %}


<section class="add-item-section">
    <br>
    <div class="new-item">
        <h1> New Item </h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="item-detail-btn"> Add</button>
        </form>
    </div>

</section>


{% endblock content %}
