<!--  @author: emilia k -->
{% extends 'base.html' %}
{% load static %}
{% block title %} Item Details {% endblock title %}

{% block head %} <h1 class="it-header"> {{ object.title }} - {{ object.category }} </h1>

{% endblock head %}
{% block content %}
<div class="item-detail-container">
    <a class="help item-detail-btn"   href="{% url 'items-all' %}"> Back </a>

    <br>
    <br>
    <br>
    <br>
<article class="item-detail-section">

    <div class="item-detail-content">
        <img class="article-img" src="{{ object.image.url }}" width="375px">
        <section class="review-section"> {% include 'items/reviews.html' %} </section>
        <p class="item-d"> $ {{ object.price }}</p>
     <div class="product-rating">
        <i class="fas fa-star{% if object.get_avg_review < 1 %}-o empty{% endif%}"></i>
        <i class="fas fa-star{% if object.get_avg_review < 2 %}-o empty{% endif%}"></i>
        <i class="fas fa-star{% if object.get_avg_review < 3 %}-o empty{% endif%}"></i>
        <i class="fas fa-star{% if object.get_avg_review < 4 %}-o empty{% endif%}"></i>
        <i class="fas fa-star{% if object.get_avg_review < 5 %}-o empty{% endif%}"></i>
    </div>
    </div>

    <div class="item-owner-detail">
        <a href="{% url 'user-items' item.owner.username %}">
        <img class="article-profile-avatar"
             src="{{ object.owner.profile.image.url }}"> </a>
         <h1 class="item-d"> Seller: {{ object.owner }}   </h1>
         <p class="item-d"> Address: {{ object.address }} </p>
    </div>
   {% if object.owner == user %}
      <a class="help item-detail-btn" href="{% url 'item-update' object.id %}"> Update </a>

      <a class="help item-detail-btn" href="{% url 'item-delete' object.id %}"> Delete </a>
    {% endif %}



    <br> <br>
</article>
<header class="vertical-menu">
    <h3>Leave a Review </h3>
    <a href="{% url 'profile' %}">
        <img class="article-profile-avatar" src="{{ user.profile.image.url }}">
    </a>
    {% include 'items/review_form.html' %}
    <a href="{% url 'user-items' user.username  %}"> My Items </a>
    <a href="{% url 'item-create' %}"> New Listing </a>

</header>
{% if comments %}
<br>
<section class="comment-section">
{% include 'items/comments.html' %}

{% else %}
    <h3>Leave a comment</h3>
    {% include 'items/comment_form.html' %}
<strong class="text-secondary">No comments yet...</strong>
{% endif %}
</section>
</div>
{% endblock content %}




