{% load static %}

    <strong> Number of Reviews: {{ object.get_count_review }} </strong>
     <div class="product-rating">
        <i class="fas fa-star{% if object.get_avg_review < 1 %}-o empty{% endif%}"></i>
        <i class="fas fa-star{% if object.get_avg_review < 2 %}-o empty{% endif%}"></i>
        <i class="fas fa-star{% if object.get_avg_review < 3 %}-o empty{% endif%}"></i>
        <i class="fas fa-star{% if object.get_avg_review < 4 %}-o empty{% endif%}"></i>
        <i class="fas fa-star{% if object.get_avg_review < 5 %}-o empty{% endif%}"></i>
    </div>
