{% load static %}
  {% if user.is_authenticated %}
  <form method="POST">
	{% csrf_token %}
	<fieldset class="review-field">
         {{ review_form.as_p }}

    </fieldset>

	  <button class="submitButton" name="new_review" type="submit"> Submit <i class="fas fa-comments"></i></button>

  </form>
  {% else %}
    <a class="submitButton" href="{% url 'login' %}">Log in to add a review!</a><br>
  {% endif %}

