{% load static %}
{% extends "base.html" %}
{% block title %} Search {% endblock title %}
{% block head %} <h1 class="it-header"> Search Results </h1> {% endblock head %}

{% block content %}
{% for item in object_list %}
    <div class="item-container">
        <article class="item-polaroid">
            <a target="_blank" href="{{ item.image.url }}">
                <img src="{{ item.image.url }}" alt="{{ item.title }}" >
            </a>
            <div class="item-info">
                <p class="item-name"> {{ item.title }} <i class="fas fa-soap"></i></p>
                <small class="item-keywords"> {{ item.category.keywords }} </small>
                <p class="item-owner">

                    <!-- link to profile page -->
                    <a href="#"> <i class="fas fa-portrait"></i> Owner: {{ item.owner }} </a>
                </p><!-- link to detail page -->
               <div class="item-detail-btn"> <a href="#"> View Details </a> </div>
                <p>
                    <a href="{% url 'user-items' item.owner.username %}"> <i class="fas fa-portrait"></i> Owner: {{ item.owner }} </a>
                </p>
               <div class="item-detail-btn">
                    {% if user.is_authenticated %}
                        <a class="detail-btn" href="{% url 'item-detail' item.id %}"> View Details </a>
                    {% else %}
                        <a class="detail-btn"  href="{% url 'login' %}?next={{request.path}}"> View Details </a>
                   {% endif %}
               </div>
            </div>
        </article>
    </div>
{% endfor %}
    {% if page_obj.paginator.num_pages > 1 %}
        {% include '_pagination.html' with page_obj=page_obj %}
    {% endif %}

{% endblock %}

{% block nav %}
    {% include 'nav.html' %}
{% endblock nav %}

