<div class="pagination">
    {% if page_obj.has_previous %}
    <a class="page-link" href="?page=1">
        <i class="fas fa-angle-double-left"></i>
    </a>
    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
        <i class="fas fa-angle-left"></i>
    </a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <span class="page-current">{{ num }}</span>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="page-number page-current" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
        <i class="fas fa-angle-right"></i>
    </a>
    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
        <i class="fas fa-angle-double-right" aria-hidden="true"></i>
    </a>
    {% endif %}

</div>