<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/administration.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/users.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/messaging.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/pagination.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/items.css' %}">



     <title>{% block title %} Product Store Title to Be Changed {% endblock %}</title>

    <script src="https://kit.fontawesome.com/80850a1b93.js" crossorigin="anonymous"></script>


</head>



    {% if title %}
    <title> Products - {{ title }} </title>
    {% else %}
    <title> Products </title>
    {% endif %}

     <!-- For cool icons that u can use in your templates  -->
<!--    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>-->











<body>
{% include 'header.html' %}
<main>

    <div id="msg-bar"> <!--  For alerts: success, error , denied access etc  -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% block nav %} {% endblock %}
    {% block message %}{% endblock %}
    {% block head %} {% endblock %}

    <div class="container">
        {% block content %}
        <!--Website content here-->
        {% endblock %}

    </div>

</main>

{% include 'footer.html' %}

</body>
</html>
