{% load static %}
<header class="header">
    <div class="logo">
        <a href="{% url 'home' %}"> <i class="fas fa-store fa-lg"></i></a>
    </div>
    <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'items-all' %} ">Items</a></li>
            <li><a href="{% url 'administration' %} ">Users List</a></li>
            <li><a href="{% url 'inbox' %}" >Messaging</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a>
            <li><a class="icon-link" href="{% url 'profile' %}" ><img class="profile-icon" src="{{ user.profile.image.url }}"></a></li>
        {% else %}
            <li><a href="{% url 'items-all' %} ">Items</a></li>
            <li><a href="{% url 'login' %} ">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a class="icon-link" href="{% url 'login' %}" ><img class="profile-icon" src="/media/profile_pics/default.png"></a></li>
        {% endif %}
    </ul>
</header>