{% load static %}
<header class="item-navbar">
    <form action="." method="GET">
        <input name="search_bar" placeholder="Search..." type="text" value="{{ request.GET.search_bar }}">
        <input name="submit" type="submit" value="Search">
    </form>
    <div class="dropdown">
        <button class="dropbtn"> Category <i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content">
            <a href="{% url 'category' 'Soap' %}"> Soaps </a>
            <a href="{% url  'category' 'Candle' %}"> Candles </a>
            <a href="{% url 'category' 'Lotion' %}"> Lotions </a>
        </div>
        <div class="dropdown">
            <button class="dropbtn"> Popularity <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="#"> Most </a>
                <a href="#"> Least </a>
            </div>
        </div>
    </div>
</header>


<!-- Change styling -->

