{% extends 'base.html' %}
{% block content %}
    <div class="admin-container">
        <div id="user-list">
            <h1>Users List</h1>
            <a href="create-user"><button class="button register-button">Register New User</button></a>
            <hr>
            <table id="user-table">
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Group</th>
                </tr>
                {% for user in users_list %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        {% for group in user.groups.all %}
                            <div>{{ group.name }}</div>
                        {% endfor %}
                    </td>
                    <td><a href="/administration/edit/{{ user.id }}"><button class="button">Edit Details</button></a></td>
                    <td><a href="/administration/modify-group/{{ user.id }}"><button class="button">Modify Groups</button></a></td>
                    {% if user.flagged %}
                        <td><a href="/administration/flag/{{ user.id }}"><button class="button flagged">Unflag</button></a></td>
                    {% else %}
                        <td><a href="/administration/flag/{{ user.id }}"><button class="button not-flagged">Flag</button></a></td>
                    {% endif %}
                    <td><a href="/messaging/create-notif/{{ user.id }}"><button class="button warn-button">Warn</button></a></td>
                    <td><a href="/administration/delete/{{ user.id }}"><button class="button delete-button">Delete</button></a></td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}