{% extends 'base.html' %}

{% block content %}
    <div class="admin-container">
        <form method="POST">
            <!-- every form needs protection against cross site request forgery -->
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Modify details of {{ user.username }} </legend>
                {{ form.as_p }} <!-- renders the form as paragraph tags -->
            </fieldset>
            <div class="form-group">
                <button class="button" type="submit">Save</button>
            </div>
        </form>
    </div>
{% endblock content %}