{% extends 'base.html' %}
{% block content %}
    <div class="admin-container">
        <h1 class="error-message">{{ error }}</h1>
        <a href="/home/"><button class="button">Home</button></a>
    </div>
{% endblock %}