{% extends 'base.html' %}
{% block content %}
    <div class="admin-container">
        <h1>Change Group for {{ user.username }}</h1>
        <div class="all-groups">
            {% for group in groups %}
                <div class="group">
                    <span><h4>{{ group.name }}</h4></span>

                    {% if group in user.groups.all %}
                        <span><a href="remove/{{ user.id }}/{{ group.name }}"><button class="button delete-button">Remove Group</button></a></span>
                    {% else %}
                        <span><a href="add/{{ user.id }}/{{ group.name }}"><button class="button">Add Group</button></a></span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <a href="/administration"><button class="button">Back to Users List</button></a>
    </div>
{% endblock %}