/* COLOR PALETTE

    #22223B  "Space Cadet" - v dark blue/purple
    #4A4E69  "Independence" - lighter matte blue/purple
    #9A8C98  "Heliotrope Gray" - lilac ish
    #C9ADA7  "Silver Pink" - muted pink,,
    #F2E9E4  "Isabeline" - vvvvv light pink almost white
*/

#user-list {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    background-color: #F2E9E4;
}

#user-table {
    width: 100%;
    margin: auto;
}

#user-list tr td {
    text-align: center; 
    vertical-align: top;
    height: 4em;
}

.button {
    display:inline-block;
    padding:0.4em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-size: 14px;
    font-weight:300;
    background-color: #C9ADA7;
    text-align:center;
    transition: all 0.2s;
    color: #22223B;
}

.button:hover{
    background-color:#B59396;
    cursor: pointer;
}

.delete-button {
    background-color: #703146;
    color: #F2E9E4;
}

.delete-button:hover {
    background-color: #542535;
}

.warn-button {
    background-color: #AA92AD;
}

.warn-button:hover {
    background-color: #917D94;
}

.flagged {
    background-color:yellow;
}

.flagged:hover {
    background-color:gold;
}

.form-group {
    margin-bottom: 20px;
}

.group span {
    width: 10%;
    margin: auto;
    display: inline-block;
}

.all-groups {
    margin-bottom: 20px;
}

.admin-container {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    text-align: center;
}
