.it-header {
    text-align: left;
    margin: auto;
    margin-left: 11%;
    padding: 5px;
    text-shadow: 1px 8px 9px #cebacb;
}

.item-container{
    max-width: 1920px;
    background: #f8f4f1;
    padding: 0 6px;
    float: left;
    width: 26.99999%;
    height: 70%;
    box-sizing: border-box;
    width: 26.99999%;
    height: 50%;
    border-radius: 8px;
}

@media only screen and (max-width: 700px) {
  .item-container {
    width: 59.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .item-container {
    width: 100%;
  }
}

.item-polaroid{
    width: 90%;

    background-color: #F2E9E4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 8px;
}

.item-polaroid:hover {
    border: 1px solid #9A8C98;
}

.nav {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav:hover {
border: none;

}

/*

<a target="_blank" href="{{ object.image.url }}">
  <img src="{{ object.image.url }}" alt="{{ object.title }}" >
</a>

*/

.item-polaroid img {
     width: 100%;
     height: 50%;
     object-fit: contain;
     border-radius: 8px;
     background-position: center center;
     background-repeat: no-repeat;
     max-height: 692px;
}

.item-info {
    color: #22223B;
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}

.item-name {
    font-size: 1.6em;
    font-weight: bold;
    text-shadow: 1px 8px 9px #CEBACB;
}

.item-keywords {
    font-size: 1.2em;
}
.item-owner {
    padding: 3px;
}
/** text-shadow: horizontal-offset vertical-offset blur color;
text-shadow: 2px 4px 3px rgba(0,0,0,0.3);


*/
.item-owner a {
    color: #22223B;
    text-decoration: none;
}

.item-owner a:hover {
    color: #C9ADA7;
 text-decoration: none;
}

.item-detail-btn {
    width: 70%;
    margin: auto;
    margin-bottom: 5px;
    padding: 6px;
    border-radius: 8px;
    background-color: #C9ADA7;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
}

.item-detail-btn:hover {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#B59396;

}

.detail-btn{
    color: #22223B;
    font-size: 20px;

}



.item-navbar {
    overflow: hidden;
    background-color: #4A4E69;
    padding: 8px;
    width: 30%;
    float: right;
    text-align: center;
    color: #f8f4f1;
    border-radius: 1.6em;
    margin-right: 1.5em;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    margin-bottom: 25px;
    margin-left: 20px;
}

.detail{
    width: 40%;
}

.detail a{
     margin: auto;
}

.item-navbar a {

  font-size: 16px;
  color: #F2E9E4;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  border-radius: 1.2em;
}

.item-navbar form {

width: 15%;

}

.item-navbar input[type=text] {
    float: left:
    width: 15%;
    padding: 5px;
    margin-top: 10px;
    margin-left: 2px;
    border-radius: 1.2em;
    font-size: 16px;
    font-family:'Roboto',sans-serif;
    background-color: #F2E9E4;
}

.dropdown {
  float: right;
  overflow: hidden;
  margin-right: 2em;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #F2E9E4;
  border-radius: 1.2em;
  padding: 18px;
  background-color: inherit;
  font-family:'Roboto',sans-serif;

}

.item-navbar a:hover {
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content {
  display: none;
   border-radius: 1.2em;
  position: absolute;
  max-width: 300px;
    float: right;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #F2E9E4;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #9A8C98;
}

.dropdown:hover .dropdown-content {
  display: block;
  float: right;
  background-color: #917D94;
}

@media screen and (max-width: 600px) {
  .item-navbar a, .item-navbar input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .item-navbar input[type=text] {
    border: 1px solid #ccc;
  }
}

.item-detail-container{
    max-width: 1920px;
    background: #f8f4f1;
    padding: 0 20px;
    height: 100%;
    border-radius: 8px;
}

.item-detail-section {
 width: 70%;
 color: #22223B;
}

.item-detail-content{
float: left;
width: 40%;
}

.item-owner-detail {
    width: 45%;
    color: #22223B;
    float: left;
    padding: 10px;
    text-align:center;
    text-transform: capitalize;
}

.item-owner-detail h1{

    color: #22223B;
    text-align:center;
    text-transform: capitalize;
}

.article-img {
margin-right: 3em;
border-radius: 5em;
float: left;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.article-profile-avatar{

  vertical-align: middle;
  width: 75px;
  height: 75px;
  border-radius: 50%;

}


.review-section {
box-sizing: border-box;
 margin-right: 20px;
padding: 5px;
}

.comment-section {
box-sizing: border-box;

margin: auto;

clear: both;
}

.comment-section  strong {
font-size: 25px;
float: right;
}

.comment-field   {
font-size: 25px;
border: none;
padding: 10px;
margin: auto;
}

.review-field   {
font-size: 25px;
border: none;
padding: 5px;
}

.comment-field p *{

margin-left: 20px;
}

.comments {
border-radius: 4px;
box-sizing: border-box;
border-bottom: 1px solid #22223B;
background: #E8DCD9;
font-size: 18px;
}

.comment-date{
float: right;

}


.vertical-menu {
  width: 20%; /* Set a width if you like */
  float: right;
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

/* create new item page */

.new-item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
}

.new-item p{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 10px;
}
}

form input{
    width: 220px;
    padding-left: 5px;
    margin-top: 15px;
    border-radius: 1em;
    background-color: #F2E9E4;
    height: 30px;
}

form select{
    width: 220px;
    padding-left: 5px;
    margin-top: 15px;
    border-radius: 1em;
    background-color: #F2E9E4;
    height: 30px;
}

/* delete item page */

.delete-item {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: stretch;
}

.form-group-delete {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    align-items: center;
}


.add-item-section {
    width: 80%;
    padding: 20px;
    margin: auto;
    text-align: center;
    background: #9A8C98;
    border-radius: 4em;
}

.create-item label {
text-align: left;
font-size: 20px;
float: left;
padding-left: 40px
 padding: 12px 12px 12px 0;
  display: inline-block;
}

.create-item p {
width: 85%;
margin: auto;
padding: 8px;
}
.create-item input[type=text], select, textarea{
float:right;
}

.create-item input.search, input#id_title, select#id_receiver, textarea#id_text, select#id_user, textarea#id_message {
padding: 3px;
width: 30%
float: right;
background: #F2E9E4;
 padding-left: 5px;
 margin-top: 15px;
border-radius: 1em;
}

.addbutton {
 padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  color: #22223B;
    font-size: 20px;
}

.addbutton:hover {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background-color:#B59396;

}

help {
    margin: 2em;
    padding: 2em;
    border-radius: 8px;
    background-color: #C9ADA7;
    text-decoration: none;
}

.h{
 padding: 5px
}