/* COLOR PALETTE

    #22223B  "Space Cadet" - v dark blue/purple
    #4A4E69  "Independence" - lighter matte blue/purple
    #9A8C98  "Heliotrope Gray" - lilac ish
    #C9ADA7  "Silver Pink" - muted pink,,
    #F2E9E4  "Isabeline" - vvvvv light pink almost white
*/
html {
scroll-behavior: smooth;

}

a {
 text-decoration: none;
 color: #22223B;
  cursor: pointer;
}

button {

font-family:'Roboto',sans-serif;
}

* {
  box-sizing: border-box;
}
body {
    background: #f8f4f1;
    margin : 0px;
    font-family:'Roboto',sans-serif;
    padding-bottom: 200px;
}

.container {
    padding-top: 1%;
    padding-left: 1%;
    width: 100%;
    height: 100vh;
}
.all-items{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    overflow: hidden;
    background-color: #22223B;
    /* padding: 20px; */
    /* margin: 0 auto; */
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-header {
    text-align: left;
    margin: auto;
    padding: 5px;
    text-shadow: 1px 8px 9px #cebacb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header a {
    color: #F2E9E4;
    text-decoration: none;
    padding: 18px;
    font-size: 20px;
    border-radius: 8px;
}

.header a:hover {
    background-color: #4A4E69;
}

.header .icon-link:hover {
    background-color: transparent;
}

.header div.logo{
    float: left;
    margin-top: 5px;
}

.header div.logo a {
    font-size: 30px;
    font-weight: bold;

}

.header ul {
    margin-top: 10px;
    margin-right: 10px;
    padding: 0;
    float: right;
}

.header ul li {
    list-style-type: none;
    display: inline;
}

div.alert {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: teal;
    margin: auto;
    padding: 1%;
    background-color: #d4d4d4;
    width: 500px;
}

.header button {
    font-family:'Roboto',sans-serif;
    background-color: #22223B;
    color: #F2E9E4;
    font-size: 20px;
    margin-left: 10px;
    padding: 8px;
    border-radius: 4px;
}

.header button:hover{
 background-color: #4A4E69;
}

/* Responsive Header Resizing */
@media screen and (max-width: 500px){
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

.msg-bar {

    margin:auto;
    text-align: center;
    padding: 5px;

}

footer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F2E9E4;
    color: #22223B;
    text-align: left;
    height: 50px;

}

.ft-right {
    float: right;
    margin-right: 20px;
    text-align: left;
}

main {
    margin-top: 100px;
    float: left;
    width: 100%;
    margin-bottom: 15%
}

/*Scroll Bar Styles*/

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
      background: #f8f4f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #4A4E69;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3b3e54;
}

.col {

float: right;

}

.side-nav-cont {

    float: right;
    text-align: center;
    background-color: #f8f4f1;
    overflow-x: hidden;
    color: #4a4e69;
}
.side-nav-cont{
    text-align: center;
    color: #4a4e69;
}

.side-nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #4a4e69;
    display: block;
}

.side-nav {
    list-style-type: none;
    display: inline;
    text-align: center

}

.side-nav li {
  padding: 5px;

}

.side-nav a {
    color: #22223B;
    font-size: 1.2em
}

.side-nav a:hover {
    color: #22223B;

}

.home-img-container{
    width: 80%;
}
.home-img-polaroid{
    width: 80%;
   float: right;
}

.home-img-polaroid img{
     width: 100%;
     height: 50%;
     border-radius: 12px;
}



/* ===================================== */


