
 /*Azadeh Ahmadi (1811386)*/
 .content_msg{display:flex;
flex-direction:column;
}

section.buttonsmsg{display:flex;
height:50px;
color:white;
background-color:#22223b;
flex-direction: row ;
align-items:left;

}
div.leaveComments,div.leaveCommentshead {display:flex;
border:black 2px solid;
height:30px;}

div.leaveComments{background-color:#C9ADA7}

div.leaveCommentshead{background-color:#22223b;
 color:white;}

div.leaveCommentshead div ,div.leaveComments div{flex-basis:33%;
 font-weight:bold}

div.leaveComments a{flex-basis:33%;
font-weight:bold}

label{display:inline-block ;width:100px;}

section.inbox{display:flex;
flex-direction:column}

input.search, input#id_title, select#id_receiver, textarea#id_text, select#id_user, textarea#id_message{width:220px;
padding-left:5px;
margin-top:15px;
border-radius: 1em;
background-color:#F2E9E4}

textarea#id_text ,textarea#id_message{height:150px;
overflow: scroll;
 width :500px}

button.sentbtn,button.compose{width:75px;
margin-top:15px;
border-radius: 2em;
background-color:#C9ADA7}



button.inboxbtn,button.deletebtn,button.forwardbtn,button.replybtn ,button.submitButton, input.btn.btn-primary ,button.btn.btn-default{width:75px;
margin-top:15px;
border-radius: 2em;
background-color:#C9ADA7}

div.search{flex-basis:25%;
padding-left:5px;
border-radius: 2em;
}


section.composebtn,section.inboxbtn,section.sentbtn{flex-basis:7%;
 border-radius: 4px;}



 fieldset.compose{background-color:#22223b; width:50%; border-radius:2em;
 color:#F2E9E4}

 legend.message{padding:10px; background-color:#C9ADA7; font-weight:bolder; border-radius:1em;}

 div.notif{background-color:#C9ADA7;
 color:black;}
 p.notif{padding:10px}