/*
    @author emilia

    COLOR PALETTE

    #22223B  "Space Cadet" - v dark blue/purple
    #4A4E69  "Independence" - lighter matte blue/purple
    #9A8C98  "Heliotrope Gray" - lilac ish
    #C9ADA7  "Silver Pink" - muted pink,,
    #F2E9E4  "Isabeline" - vvvvv light pink almost white

    can probably combine all the css files later, its just easier to read like this : - P

    How  to use in  templates

    {% if page_obj.paginator.num_pages > 1 %}
        {% include '_pagination.html' with page_obj=page_obj %}
    {% endif %}

*/

.pagination {
    clear: both;
    margin-top: 1em;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.pagination a {
    text-decoration: none;
}

.page-current, .page-number {
    padding: 0.5em 0.8em;
    border-radius: 3px;
    color: #F2E9E4;
    background-color:  #4A4E69;
}

.page-number {
    background-color:  #9A8C98;
}

.page-link {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em 0.5em;
    color:  #9A8C98;
    font-size: 1.3em;
    text-align: center;
}

.page-link:hover {
    color: #22223B;
}