/* Kristina Amend ID 0735252*/

/* Profile page styling */

.profile-avatar {
  vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px;
}

.profile-icon {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

input[type="file" i], button.update-button {
    margin-top: 20px;
}

.edit-profile-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

button.update-button {
    margin: auto;
    display: flex;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-header {
    margin: 0;
}

span.helptext {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: cadetblue;
}

/* Login page styling */

button.login-button, .change-password-button {
    margin: auto;
    display: flex;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}

button.login-button, .change-password-button {
    width: 200px;
}

.login-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
}

.register-section {
    display: flex;
    width: 600px;
    margin: auto;
    flex-direction: row;
    align-content: stretch;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
}

.register-section fieldset.form-group {
    position: static;
    border: 1px solid #ddd;
    padding: 20px 60px 20px 60px;
}

.register-section fieldset.form-group ul {
    list-style: none;
    color: teal;
    padding: 0;
    font-size: small;
}

.register-section input{
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

.sign-up {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

/* All fieldsets */

fieldset.form-group {
    position: static;
    border: 1px solid #ddd;
    padding: 20px;
}

ul.errorlist.nonfield {
    list-style: none;
    color: teal;
    padding: 0;
    width: 375px;
}

fieldset.form-group legend {
    font-size: 18px;
    margin: -9px 0 0;
    padding: 0 7px;
    font-weight: bold;
}

input[type="text" i], input[type="password" i], input[type="email" i] {
    padding: 8px 8px;
    height: 30px;
}

.password-change {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.login-signin-link {
    text-decoration: none;
    font-variant: all-petite-caps;
    font-size: 20px;
    color: teal;
    font-weight: bold;
}

.login-signin-link:hover, .forgotpw-link:hover {
    color: #008080;
    transform: scale(1.2);
}

.forgotpw-link {
    text-decoration: none;
    font-size: unset;
    color: teal;
    font-weight: bold;
}

.after-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}