{% extends "base.html" %}
{% load static %}
<!-- Kristina Amend -->
<!-- Page that displays the fields so a user can login -->
    <title>Login Page</title>
    {% block content %}
    <div class="login-section">
        <h1>The #1 site for cool soaps</h1>
        <form method="POST">
            <!-- every form needs protection against cross site request forgery -->
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>User Login</legend>
                {{ form.as_p }} <!-- renders the form as paragraph tags -->
            </fieldset>
            <div class="form-group">
                <button class="login-button" type="submit">Login</button>
            </div>
        </form>
    </div>
        <div class="after-login">
            <h4>Need an account?</h4><a class='login-signin-link' href="{% url 'register' %}">Sign up!</a>
            <h5><a class='forgotpw-link' href="{% url 'password_reset' %}">Forgot your password?</a></h5>
        </div>
    {% endblock content %}