{% extends "base.html" %}
{% load static %}
<!-- Kristina Amend -->
<!-- Page that displays that the user has been logged out -->
    <title>Logout</title>
    {% block content %}
    <div class="password-change">
        <h2>You have been logged out</h2>
        <div>
            <a href="{% url 'login' %}" class="login-signin-link">Sign back in</a>
        </div>
    </div>
    {% endblock content %}