{% extends "base.html" %} <!-- inherit from the super class template-->
{% load static %}
<!-- Kristina Amend -->
<!-- Page that displays the form so the user can reset their password -->
    <title>Reset Password</title>
    {% block content %}
    <div class="password-change">
        <form method="POST">
            <!-- every form needs protection against cross site request forgery -->
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Reset Password</legend>
                {{ form.as_p }} <!-- renders the form as paragraph tags -->
            </fieldset>
            <div class="form-group">
                <button class="change-password-button" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock content %}