{% extends "base.html" %}
{% load static %}
<!-- Kristina Amend -->
<!-- Page that displays the fields so a user can change their password -->
    <title>Password Reset</title>
    {% block content %}
<!-- Reset password stuff here-->
    <div class="password-change">
        <form method="POST">
            <!-- every form needs protection against cross site request forgery -->
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="change-password-button" type="submit">Change Password</button>
            </div>
        </form>
    </div>
{% endblock content %}