{% extends "base.html" %} <!-- inherit from the super class template-->
{% load static %}
{% block content %}
<!-- Kristina Amend -->
<!-- Page that displays to the user that an email was sent to reset their password -->
<div class="password-change">
    <h1>Check your inbox</h1>
    <p>An email has been sent with instructions to reset your password.</p>
</div>
{% endblock content %}