{% extends "base.html" %} <!-- inherit from the super class template-->
{% load static %}
{% block content %}
<!-- Kristina Amend -->
<!-- Page that displays to the user that their password was changed -->
    <div class="password-change">
        <h2>
        <div class="pw-reset-alert">Your password has been successfully changed.</div><br>
        <a class='login-signin-link' href="{% url 'login' %}">Sign back in</a>
        </h2>
    </div>
{% endblock content %}