{% extends "base.html" %} <!-- inherit from the super class template-->
{% load static %}
{% block content %}
<!-- Kristina Amend -->
<!-- Page that displays a message notifying the user that their password change was successful -->
    <div class="password-change">
        <h2>
        <div class="pw-reset-alert">Your password has been successfully changed.</div><br>
        <a href ="{% url 'login' %}" class="login-signin-link">Sign back in</a>
        </h2>
    </div>
{% endblock content %}