{% extends "base.html" %}
{% load static %}
<!-- Kristina Amend -->
<!-- Page that displays info to the user how to reset their password -->
    <title>Password Change</title>
    {% block content %}
    <div class="password-change">
        <form method="POST">
            <h1>Forgot your password?</h1>
            <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
            <!-- every form needs protection against cross site request forgery -->
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form }} <!-- renders the form as paragraph tags -->
            </fieldset>
            <div class="form-group">
                <button class="change-password-button" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}