{% extends "base.html" %} <!-- inherit from the super class template-->
{% load static %}
{% block content %}
<!-- Kristina Amend -->
<!-- Page that allows the user to modify certain detaisl for their profile -->
    <div class="edit-profile-container">
        <h1 class="profile-header">{{ user.username }}'s profile page</h1>
        <img class="profile-avatar" src="{{ user.profile.image.url }}">
        <div class="edit-form">
            <form method="POST" enctype="multipart/form-data"> <!-- ensures images are saved -->
            <!-- every form needs protection against cross site request forgery -->
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Edit Profile</legend>
                {{ user_form.as_p }}<br>
                {{ profile_form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="update-button" type="submit">Update</button>
            </div>
            </form><br><br>
            <div class="after-login">
            <a class='login-signin-link' href='../password-change'>Change your password</a>
            </div>
        </div>
    </div>


{% endblock content %}