{% extends "base.html" %} <!-- inherit from the super class template-->
{% load static %}
<!-- Kristina Amend -->
<!-- Page so a new user can register on the site -->
    <title>Registration Page</title>
    {% block content %}
    <div class="content-section">
        <div class="register-section">
        <form method="POST">
            <!-- every form needs protection against cross site request forgery -->
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Register today!</legend>
                {{ form.as_p }} <!-- renders the form as paragraph tags -->
            </fieldset>
            <div class="form-group">
                <button class="login-button" type="submit">Register</button>
            </div>
        </form>
        <div>
            <div class="after-login">
            <h4>Already registered?</h4>
            <a class='login-signin-link' href="{% url 'login' %}">Sign in</a>
            </div>
            </div>
        </div>
    </div>
    {% endblock content %}