{% extends 'post_detail.html' %} {% block comment %}

             <!-- Azadeh Ahmadi (1811386)-->
        {{% if user.is_authenticated%}}
        <section class="comment">
       <h2>{{ comments.count }} Comments</h2>
        <form method="post" >
          {{ form.as_p }}
          {% csrf_token %}
          <button type="submit" class="submitButton">Submit</button>
        </form>
         {{% else %}}
            <section class="comment">
                <p >You need to log in to be able to leave a comment <a href='/login/?next={{request.path}}'>login</a></p>
         {{% end if %}}
        {% for comment in comments %}
        <div class="leaveComments" >
          <p class="font-weight-bold">
            {{ comment.user.userName }}
            <span class=" text-muted font-weight-normal">
              {{ comment.date}}
            </span>
          </p>
          {{ comment.text | linebreaks }}
        </div>
        {% endfor %}

</section>
        </section>
{% endblock comments %}
            <!--<form method="post" action ="./?next={{redirect_tp}}    should be implemented in ligin form -->
