{% extends 'base.html' %} {% block content %}

             <!-- Azadeh Ahmadi (1811386) -->


        <form method="post" >

          {% csrf_token %}
            <fieldset class="compose">
                <legend class="message">{{create_update_legend}}</legend>
                {{form.as_p}}
            </fieldset>
          <button type="submit" class="submitButton">{{form_submit_btn}}</button>
        </form>


{% endblock content %}