{% extends 'base.html' %} {% block content %}

             <!-- Azadeh Ahmadi (1811386) -->



<section class="content_msg">

<section class="buttonsmsg">
    <div class ="search">

                <form method= "GET" action="{% url 'email_search' %}">
                    {% if name %}
                    <input class ="search" type="text" name="query" placeholder="search by receiver">
                    {% else %}
                    <input class ="search" type="text" name="query2" placeholder="search by sender">
                    {% endif %}
                </form>
            </div>
       <section class="composebtn">
<!--           {% if user.is_authenticated %}-->
           <a href="{% url 'compose' %}"><button class ="compose">Compose</button></a>
<!--           {% endif %}-->
       </section>
           <section class="sentbtn">
<!--           {% if user.is_authenticated %}-->
           <a href="{% url 'sent' %}"><button class ="sentbtn">Sent</button></a>
<!--           {% endif %}-->
           </section>

           <section class="inboxbtn">
<!--           {% if user.is_authenticated %}-->
           <a href="{% url 'inbox' %}"><button class ="inboxbtn">Inbox</button></a>
<!--           {% endif %}-->
           </section>
    </section>
    <section class="inbox">
           {% if name %}
       <h2>Sent[{{ object_list.count }} Messages]</h2>
        <div  class="leaveCommentshead" ><div>To</div><div>Title</div><div>Date</div></div>
           {% else%}
           <h2>Inbox[{{ object_list.count }} Messages]</h2>
         <div  class="leaveCommentshead"><div>From</div><div>Title</div><div>Date</div></div>
           {% endif %}
        {% for object in object_list %}
        <div class="leaveComments" >

              {% if name %}
          <a href="{% url 'detail' object.id %}">{{object.receiver}}</a>
              {% else%}
              <a href="{% url 'detail' object.id %}">{{object.sender}}</a>
              {% endif %}
             <div>{{object.title}}</div>
            <div class=" text-muted font-weight-normal">
              {{ object.date}}

          </div>

        </div>
        {% endfor %}
        <div class="pagination">
<span class="step-links">
{% if page_obj.has_previous %}
<a href="?page=1">&laquo; first</a>
<a href="?page={{ page_obj.previous_page_number }}">previous</a>
{% endif %}
<span class="current">
Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
</span>
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">next</a>
<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
{% endif %}
</span>
</div>

</section>
        </section>

{% endblock content %}
            <!--<form method="post" action ="./?next={{redirect_tp}}    should be implemented in ligin form -->
