{% extends 'base.html' %} {% block content %}

             <!-- Azadeh Ahmadi (1811386) -->

        <section class="a_message"></section>

            <fieldset class="compose">
                <legend class="message">Message</legend>
                <h4 class="from">From :{{ object.sender }}</h4>
                <h4 class="from">Date:{{ object.date }}</h4>
                <h4 class="from">Title:{{ object.title }}</h4>

                <p id="text">Body:{{ object.text }}</p>
            </fieldset>
<a href="{% url 'delete' object.id %}"><button class ="deletebtn">Delete</button></a>
{% ifequal object.receiver request.user %}
<a href="{% url 'forward' object.id %}"><button class ="forwardbtn">Forward</button></a>
<a href="{% url 'reply' object.id %}"><button class ="replybtn">Reply</button></a>
{% endifequal %}


{% endblock content %}