{% extends 'base.html' %} {% block content %}


<!--Azadeh Ahmadi (1811386)-->


<form  method="post">{% csrf_token %}
    <p>Are you sure you want to delete the item?</p>
    <input class="btn btn-primary" type="submit" value="Confirm"/>
    <button onclick="window.history.back();" class="btn btn-default" type="button">Cancel</button>
</form>
{% endblock content %}