{% extends 'base.html' %} {% block content %}

             <!-- Azadeh Ahmadi (1811386) -->


        <form method="post" >

          {% csrf_token %}
            <fieldset class="compose">
                <legend class="message">Notification</legend>
                {{form.as_p}}
            </fieldset>
          <button type="send" class="submitButton">send</button>
        </form>


{% endblock content %}